* {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  color: #656060;
}
body {
  scroll-behavior: smooth;
  margin:0 5%;
}

a{
  text-decoration: none;
}

a:hover {
  color: rgb(184, 149, 149);
}

header {
  color:#333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:4em;
}
.hero{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; /* Ensures space on both sides */
  align-items: center;
  /* padding: 0 5%; Adds left and right space inside the container */

}
.matthiasson-pic{
  flex: 1; /* This ensures a 1:1 ratio */
  min-width:300px; /* Prevents them from shrinking too much */
  max-width: 50%; /* Prevents them from exceeding 50% each */
}
.quote {
  flex: 1; /* This ensures a 1:1 ratio */
  min-width:300px; /* Prevents them from shrinking too much */
  max-width: 40%; /* Prevents them from exceeding 50% each */
}
.matthiasson-pic img {
  width: 100%; /* Ensures image scales correctly */
  height: auto; /* Keeps aspect ratio */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
}


/* Responsive: Stack them on smaller screens */
@media (max-width: 1200px) {
  .hero {
    flex-direction: column; /* Stacks items on top of each other */
    align-items: center; /* Centers them */
  }

  .matthiasson-pic,
  .quote {
    max-width: 100%; /* Full width when stacked */
  }
}

#quote-2{
  font-size: 1.5em;
  text-align: left;
  letter-spacing: 0.5px;
  line-height: 2em;
  font-weight: 800;
  color:black;

}

#quote-2:before,
#quote-2:after {
    display: inline-block;
    color: rgb(198, 136, 20);
    font-size: 1em;
    position: relative;
}

#quote-2:before {
  content: "\300C";
  left:-0.3em;
  top: -0.2em;
}

#quote-2:after {
  content: "\300D";
  right:-0.3em;
  bottom: -0.2em;
}

#quote2-credit {
  font-size: 1.5em;
  font-style: italic;
  padding: 0.8em;
  font-weight: normal;
  text-align: right;
  color:#333
}

#quote-1 {
  font-size: 2.5em;
  line-height: 1.5em;
  margin-bottom: 1em;
  margin-top: 1em;
  color: #333;
}

#quote-1:before,
#quote-1:after {
    display: inline-block;
    color: orange;
    font-size: 1.5em;
    top: .2em;
    position: relative;
}

#quote-1:before {
  content: open-quote;
  left:-0.3em;
}

#quote-1:after {
  content: close-quote;
  right:-0.3em;
}

.description {
  font-size: 1.2em;
  padding: 1em;
  margin-top: 1em;
  line-height: 1.5;
  text-wrap: pre-line;
  /* background-color: #f6ebca; */
  background-color: rgb(184, 151, 110);
  display: flex;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.intro{
  color:rgb(5, 6, 36);
  margin:1em;
  font-size: 2em;
  flex:1
}
.story{
  flex:2
}
.story p{
  color:rgb(73, 71, 9);
  margin:3em 1em;
  text-align: left;
}

span.begin{
  color:rgb(84, 69, 8);
  font-size: 1.3em;
  font-weight: 800;
}

/* Responsive: Stack them on smaller screens */
@media (max-width: 1200px) {
  .description {
    flex-direction: column; /* Stacks items on top of each other */
    align-items: center; /* Centers them */
  }
}


.announcement{
  font-size: 3em;
  margin-top: 1em;
  margin-bottom: 1em;
  color:rgb(6, 7, 37)
}

.wine-collection-pic-container{
  background-color: #4b3e15;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.wine-collection-pic {
  max-width: 100%;
  height: auto;

}
h2{
  color:rgb(5, 6, 36);
  font-size: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.gallery-items{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2em;
}
.gallery-item{
  flex: 1;
  margin: 1em;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
  padding:1em
}
.gallery-item img{
  width: 100%;
  height: auto;
  border-radius: 10px;
}
figcaption{
  font-size: 1em;
  color:rgb(5, 6, 36);
  margin-top: 1em;
  margin-bottom: 1em;
}

/* Responsive: Stack them on smaller screens */
@media (max-width: 1200px) {
  .gallery-items {
    flex-direction: column; /* Stacks items on top of each other */
    align-items: center; /* Centers them */
  }

  figcaption{
    font-size: 1em;
  }
}

.back-to-home{
  margin-top:2em;
  margin-bottom:2em;
  font-size: large;
}

.back-to-home a{
  color:rgb(5, 6, 36);
}
.back-to-home a:hover{
  color:rgb(184, 149, 149);
}

.contact {
  margin-left: -5%;
  padding: 2rem;
  text-align: center;
  background: #f4f4f4;
  width:100lvw;
}
.contact h2 {
  font-size: 2rem;
  margin-bottom: 4rem;
}
.contact-info {
  margin-bottom: 1rem;
}
.contact-info a {
  color: #333;
  text-decoration: underline;
}


.warning {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10vh;
  background-color:black;
  font-size: 5vh;
  letter-spacing: 2vw;
  text-align: center;
  padding: 15px 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.warning * {
  color: white !important;
}
.warning img{
  border-radius: 50%;
  height: 7vh;
}
.content{
  margin-bottom: 10vh;
}
